.cx-1{
width: 100px;
height: 100px;
background: red;
animation:animaCaixa 3s forwards;
 
}
.cx-2{
    width: 100px;
    height: 100px;
    background: grey;
    animation:animaCaixa2 3s forwards;
     
    }

.cx-3{
    width:100px;
    float: left;
    height: 20px;
    background: grey;
    overflow: hidden;
        
}

.cx-3:hover{
    animation: animaCaixa3 5s;
    cursor: pointer;
}



.menup li{
    width:100%;
    float:left;
    border: 1px solid red;
    height: 20px;
    text-align: center;
}

/*
.menudrop{
    display: none;
}
/*
.menudrop li{
    width: 100%;
}
.menup li:hover .menudrop{
    display: block;
}
.menup li:hover{
    background-color: yellow;
}
.menudrop2 li:hover{
    background-color: green;
}

*/
@keyframes animaCaixa{
    from{
    background: red;
    width: 100px;
    height: 100px;
    }
    to{
    background: yellow;
    width: 300px;
    height: 300px;
    }
    
}

    @keyframes animaCaixa2{
        0%{
    background: grey;
        }
        20%{
    background: aquamarine;
        }
        80%{
    background: aqua;
        }
        100%{
    background: blue;
    height:100px,   
        }
    }

    @keyframes animaCaixa3{
        from{
        background: red;
        width: 100px;
        height: 20px;
        }
        to{

        height: 100px;
        }
    }