body{
    background-color: red;
}

.wrapper{
    background-color: yellow;
    width: 100%;
    ;

}
header{
    width:100%;
    height:44px;
    background-color: #ffffffff;
}

.hero{
    width: 100%;
    height:477px;
    background-color: salmon;
}

.articles{
    width: 100%;
    height: 500px;
    background-color: white;
}

.highlights{
    width: 100%;
    height: 200px;
    background-color: purple;
}

.latest-news{
    width: 100%;
    height: 150px;
    background-color:gold ;
}
.col-1{
    width: 20%;
    height: 44px;
    background-color: green;
    float: left;
}

.col-2{
    width: 60%;
    height: 44px;
    background-color: lightgreen;
    float: left;
    text-align: center;
    color: #f6755e;
}

.col-3{
    width: 20%;
    height: 44px;
    background-color: lightgrey;
    float:left
}