@font-face {
    font-family: pacifico;
    src:url('../fontes/Pacifico-Regular.ttf');
}



body{
    background: red;
    font-family: Arial;
    margin: 0;
    padding: 0;

}
    

.wrapper{
    background-color: yellow;
    width: 100%;
    ;

}
header{
    width:100%;
    height:44px;
    background-color: #ffffffff;
    float: left;
    font-family: 'pacifico';
    font-weight: bold;
}
header .col-3 a{
    text-transform: uppercase;
    text-decoration: none;
    color:#727a82;
    border: 2px #dee1e3 solid;
    width: 100px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;

}
header .col-3 a:hover{
background:#dee1e3

}

.hero{
    width: 100%;
    height:477px;
    background:purple url('../images/images/banner.jpg') top center no-repeat;
    background-size: cover;
    float: left;
       
}

.titulo{

    width: 50%;
    min-height: 150px;
    text-align: center;
margin-left: 25%;
margin-top: 10%;
float: left;

}

.titulo h1{
    color:#25A2C3;
    padding: 10px 0;
    font-size: 22px;
    
}

.hero-content p{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.titulo button{
    color: white;
    background-color:  #f6755e;
    border:none;
    width: 150px;
    height: 40px;
    border-radius: 4px;


}



.articles{
    width: 100%;
    height: 500px;
    background-color: white;
    float: left;
}

.articles .center-articles{
    width: 70%;
    height: 500px;
    margin: auto;
    
}
.articles .col1,
.articles .col2,
.articles .col3{
    width:33.33%;
    float: left;
}
.articles .col1 h2,
.articles .col3 h2{
    color:#25A2C3;
    font-weight: bold;
    text-align: right;
    margin-bottom: 30px;
}
.articles .col1 p,
.articles .col3 p{
    color:grey;
    font-weight: bold;
    text-align: right;
    margin-bottom: 30px;
    text-align: justify;
    
}
.center-articles .col2 .moldura{
    width: 200px;
    height:200px;
    background:black;
    margin: 0 auto;
    border-radius: 100%;
    overflow:hidden;
}
.center-articles .col2 .moldura img{
    width:100%
}
.articles .col3 h2{
    text-align: left;
}

.center-articles .col1 div
.center-articles.col3 div{
    width:70%;
    float:right;
    margin-bottom: 20px;
}


.highlights{
    width: 100%;
    height: 200px;
    background-color: salmon;
    float: left;
    color: white;
}

.titulo2{
    font-size: 10px;
    line-height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-style: italic;
    text-align: center;
}

.titulo2 h3{
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
}

.titulo2 span{
    font-weight: bold;
}



.latest-news{
    width: 100%;
    height: 150px;
    background-color:gold ;
    float: left;
}

 .center-news{
    width: 70%;
    margin:0 auto;
    
}
.latest-news .col4,
.latest-news .col5,
.latest-news .col6{
    width:33.33%;
    float: left;
   
}

    

.latest-news .col4 h3,
.latest-news .col5 h3,
.latest-news .col6 h3{
    color:#25A2C3;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0 auto;
    padding-left: 20px;
}


.latest-news .col4 p,
.latest-news .col5 p,
.latest-news .col6 p{
    color:grey;
    font-weight: normal;
    text-align: center;
    margin-bottom: 30px;
    
    
}
.center-news .col4 .newspic{
    width: 200px;
    height:200px;
    margin: 0 auto;
    overflow:hidden;
}
.center-news .col4 .newspic img{
    width:100%
}

.center-news .col5 .newspic2{
    width: 200px;
    height:200px;
    margin: 0 auto;
    overflow:hidden;
}
.center-news .col5 .newspic2 img{
    width:100%
}

.center-news .col6 .newspic3{
    width: 200px;
    height:200px;
    margin: 0 auto;
    overflow:hidden;
}
.center-news .col6 .newspic3 img{
    width:100%
}

.center-news .col5 div,
.center-news.col6 div{
    width:70%;
    float:right;
    margin-bottom: 20px;
    margin-left: auto;
}